<div class="container">
  <div class="row movie-display">
    <div class="col-lg-6">
      <img class="img-poster" src="<%= @movie.poster_url %>" >
    </div>
    <div class="col-lg-6">
      <div>
        <h3><%= @movie.title %></h3>
      </div>
      <div>
        <p>Rating: <span><%= @movie.rating %></span></p>
      </div>
      <div>
        <p><%= @movie.overview %></p>
      </div>
      <div>
        <p class="btn-create">Add this to my list</p>
      </div>
      <div class="back">
        <%= link_to 'Back to movies', movies_index_path, class: 'btn-create' %>
        <%#= link_to 'Back to list', :back, class: 'btn-create' %>
        <%#= link_to "Back to list", request.referer.present? ? request.referer : default_path %>
      </div>
    </div>
  </div>
</div>
